<!--Jen Verboven
1 ITF 14
r0889629-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>New department</title>
    <link rel="stylesheet" type="text/css" href="img/style.css"/>
</head>
<body>
<form action="/submitDepartment">
    <p>
        <label for="nameDepartment">Name Department:</label>
        <input type="text" name="nameDepartment" id="nameDepartment">
    </p>
    <p>
        <label for="photo">Photo:</label>
        <input type="text" name="photo" id="photo">
    </p>
    <p>
        <label for="refrigerated">Refrigerated:</label>
        <input type="checkbox" name="refrigerated" id="refrigerated">
    </p>
    <p>
        <select name="supermarketIndex">
            <option value="-1">In which supermarket?</option>
            <option th:each="supermarket : ${supermarketArrayList}"
                    th:value="${supermarketStat.index}"
                    th:text="${supermarket.getName()}"/>
        </select>
    </p>
    <p>
        <select name="staffIndex">
            <option value="-1">Who is responsible for this department?</option>
            <option th:each="staff : ${staffArrayList}"
                    th:value="${staffStat.index}"
                    th:text="${staff.getFirstName()} + ' ' + ${staff.getSurName}"/>
        </select>
    </p>
    <p>
        <input type="submit" value="Confirm department" name="submit">
    </p>
    <p>
        <a href="/">Back to homepage</a>
    </p>
</form>
</body>
</html>