<!--Jen Verboven
1 ITF 14
r0889629-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>superMarketManager</title>
    <link rel="stylesheet" type="text/css" href="img/style.css"/>
</head>
<body>
<h1>superMarketManager</h1>
<h1>Jen Verboven</h1>
<p>
    <a href="/1_newCustomer">Add a new customer</a>
</p>
<p>
    <a href="/3_newStaffMember">Add a new staff member</a>
</p>
<p>
    <a href="/5_listStaffMembers">List of all current staff members</a>
</p>
<p>
    <a href="/6_listCustomers">List of all current customers</a>
</p>
<p>
    <a href="/7_newSupermarket">Add a new supermarket</a>
</p>
<p>
    <a href="/8_listSupermarkets">List of all supermarkets</a>
</p>
<p>
    <a href="/9_newDepartment">Add a new department</a>
</p>
<p>Search a department by name:</p>
<form action="/searchDepartment">
    <input type="text" name="departmentName" id="departmentName">
</form>
</body>
</html>